.book-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --max-width: 1110px;
    --container-padding: 1.5rem;
    width: min(var(--max-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
    margin-bottom: 50px;
}

.book-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
}

.book-details img {
    margin-top: 50px;
}

.book-details-text {
    width: 50%;
}

.bold-text {
    font-weight: 800;
}